<div class="container">
  <div class="d-flex mt-5 mb-4">
    <h1 class="p-0 m-0">My tasks</h1>
    <%= link_to "Create a new task.", new_task_path, class: "btn btn-primary ms-4" %>
  </div>

  <% @tasks.each do |task| %>
    <h4>
      <input type="checkbox">
      <%= link_to task.title, task_path(task), class: "link-underline link-underline-opacity-0" %>
    </h4>
  <% end %>

</div>
